@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Ruslan+Display');

.overSceen-enter, .overSceen-appear {
  opacity: 0.01;
}

.overSceen-enter .overSceen-enter-active, .overSceen-appear .overSceen-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.overSceen-leave {
  opacity: 1;
}

.overSceen-leave .overSceen-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.over-body {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: aliceblue;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 1fr 2fr;
  grid-template-areas: " . "
                       "over-title"
                       "over-article"
                       "button-area"
                       " . ";  
  align-items: center;
}

.over-title {
  grid-area: over-title;
  font-style: italic;
  font-size: 5em;
  font-family: 'Ruslan Display', cursive;
}

.over-article {
  grid-area: over-article;
  font-style: italic;
  font-size: 2em;
}

.button-area {
  grid-area: button-area;
}

.over-button {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.8em;
  width: 200px;
  height: 60px;
  font-style: italic;
}

.over-button:hover {
  background-color:	#6495ED;
  color: white;
}
